<div class="container">
    <div class="text-center">
        <label class="display-2 my-3 me-3">Techvista</label>
        <label class="h5">GITAM</label>
    </div>
    <div class="my-4">
        <label class="h1">About the event</label>
        <div class="fs-4">
            <p>Videos promise to take you on a journey, display your creative side, share a thought, and give you a new
                perspective on the world.</p>
            <p>What if we gave you a chance to do all at once?</p>
            <p>Gather your best Lens and the smartest parts of your business brains as GitHub brings to you it's next
                event in EPOCH 1.0!</p>
            <p>Only three things you have to do:</p>
            <ol>
                <li>Make a cinematic product video (<a href="https://youtu.be/EpcpWFw_dTs">like this</a>)</li>
                <li>Make a sales pitch video (how would YOU sell the product you chose?)</li>
                <li>Submit!</li>
            </ol>

        </div>
    </div>
    <div class="my-4">
        <label class="h1">Rules</label>
        <ul class="fs-4">
            <li>There MUST be 4 members in a team.</li>
            <li>The team is recommended to have at least one videographer, one editor, one producer, and one marketing
                strategist.</li>
            <li>The participants must pick anything tech oriented and design a cinematic product video for the same.
            </li>
            <li>The team is also required to make a sales pitch for the same product.</li>
            <li>One finalist team from each campus will be selected based on the demonstration of the product features
                and uses, videography, creativity, editing and how good they pitch the product.</li>
            <li>Plagiarism at any stage of the competition will lead to disqualification.</li>
            <li>The final round will require all the teams to present a product video, UIUX mock-up, pitch the same
                product in-person in GITAM Bengaluru.</li>
        </ul>
    </div>
    <label class="h1 my-4">Register for the event ?</label>
    <br>
    <button class="mb-4" (click)="goToRegisterPage()">Register</button>
    <div class="my-4">
        <label class="h1">Have some questions ?</label>
        <br>
        <button class="mb-2" (click)="openWhatsApp(1)">WhatsApp - Karthik</button>
        <br>
        <button class="mb-3" (click)="openWhatsApp(2)">WhatsApp - Lalit</button>
    </div>

</div>